.footer-hr {
  margin-top: 4em;
  border-top: 2px solid #D2D2D2;
}

footer {
  h2 {
    font-size: 1.75em;
    font-weight: bold;
    text-transform: uppercase;
  }

  h3 {
    margin-top: 2em;
  }

  .github-link {
    display: block;
    margin-top: 2em;
  }
}
