.select__multi-value {
  display: none !important;
}

.select__indicator.select__clear-indicator {
  display: none !important;
}

.select--is-disabled {
  .select__control {
    box-shadow: none;
  }
}
