@import "variables";

html{
  font-size: 16px;
  @media screen and (max-width: $mobile-breakpoint) {
    font-size: 14px;
  }
}

.entry {
  display: flex;
  flex-wrap: nowrap;
  align-items: baseline;
  align-items: first-baseline;
  .entry-number {
    @extend .display-5;
    color: $primary;
    margin-right: .5em;
  }
}

.school-chips {
  .school-chip {
    &:first-of-type {
      .school-chip-icon {
        background-color: $dark-bg;
      }
    }
    &:nth-of-type(2) {
      .school-chip-icon {
        background-color: $primary;
      }
    }
    &:last-of-type {
      .school-chip-icon {
        background-color: $light-blue;
      }
    }
  }
}

.school-chip {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  flex-wrap: nowrap;
  margin-bottom: 1.5em;
  .school-chip-icon {
    height: 1em;
    width: 1em;
    border-radius: 100%;
    background-color: $light-grey;
    flex: 0 0 1em;
    margin-right: .75em;
  }
  .school-chip-details {
    p {
      font-style: italic;

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }
}

.nav-pills .nav-link {
  background-color: $light-blue;
  flex: 1 1 0px;
  margin: .5em 0;
  white-space: nowrap;
  color: $black;
  border-radius: 0px .25em .25em 0;
  text-transform: uppercase;
  padding: .75rem .5rem .75rem .125rem;
  text-align: center;
  &.active {
    position: relative;
    &::after {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      background-color: $primary;
      left: -.375em;
      width: .375em;
      border-radius: .25em 0 0 .25em;
    }
  }
}

.vertical-text {
  writing-mode: vertical-rl;
  text-orientation: sideways;
}

.card{
  &::before {
    background-image: url("./images/notebook-binding.png");
    background-repeat: repeat space;
    content: '';
    top: 1em;
    left: 0;
    bottom: 1em;
    width: 58px;
    transform: translateX(-46%);
    position: absolute;
  }
  &::after {
    content: '';
    top: .5em;
    left: .5em;
    background-color: whitesmoke;
    bottom: -.5em;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    border: 1px solid $card-border-color;
  }

}

.card-body {
  padding: 40px 75px 40px 100px;
}
