@import "variables";

html{
  font-size: 16px;
  @media screen and (max-width: $mobile-breakpoint) {
    font-size: 14px;
  }
  body {
    -webkit-font-smoothing: antialiased;
	  -moz-osx-font-smoothing: grayscale;
  }
  p {
    text-rendering: optimizeLegibility;
  }
}

.entry {
  display: flex;
  flex-wrap: nowrap;
  .entry-number {
    @extend .display-5;
    color: $primary;
    font-weight: bold;
    margin-right: .5em;
    margin-top: -.66rem;
  }
}

.card{
  &::before {
    background-image: url("./images/notebook-binding.png");
    background-repeat: repeat space;
    content: '';
    top: 1em;
    left: 0;
    bottom: 1em;
    width: 58px;
    transform: translateX(-46%);
    position: absolute;
  }
  &::after {
    content: '';
    top: .5em;
    left: .5em;
    background-color: whitesmoke;
    bottom: -.5em;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    border: 1px solid $card-border-color;
  }

}

.card-body {
  padding: 40px 75px 40px 100px;
}
