$primary: #3b96d3;
$secondary: #696969;
$danger: #ca5700;
$dark-bg: #231f20;

$light-grey: #bebdbe;
$grey: #666;

$urban-bar-height: 50px;
$total-navheight: 90px;

$border-radius: 0;
$border-radius-lg: 0;
$border-radius-sm: 0;
$btn-border-radius: 0;

$font-family-sans-serif: 'Lato', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$headings-font-weight: bold;

$font-size-base:  .875rem !default; // Assumes the browser default, typically `16px`
$font-size-lg:    ($font-size-base * 1.25) !default;
$font-size-sm:    ($font-size-base * .875) !default;

$font-ratio:      1.0825;

$h6-font-size:    $font-size-base;
$h5-font-size:    $h6-font-size * $font-ratio;
$h4-font-size:    $h5-font-size * $font-ratio;
$h3-font-size:    $h4-font-size * $font-ratio;
$h2-font-size:    $h3-font-size * $font-ratio;
$h1-font-size:    $h2-font-size * $font-ratio;

$small-font-size: 12px;

$yellow: #fdbf11;

$mobile-breakpoint: 768px;
